@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
  }

#mainDashboard{
    background-color: aliceblue;
    height: 100vh;

}

.tituloDashboard{
    text-align: center;
}

.chart{
    padding: 50px 0px 20px 250px;
}

.chart1{
    width: 525px;
    height: 250px;
    display:inline-block;
    background-color: #8BC6EC;
    border-radius: 25px;
    margin: 0px 10px 0px 0px;
}

.chart2{
    width: 525px;
    height: 250px;
    display:inline-block;
    background-color: white;
    border-radius: 40px;
    box-shadow: 1px 30px 50px 5px #222222;
}