@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}


label{
  color:black;
  font-size: 18px;
}



.btn-status{
   margin-left: 20px;
}

.fml-dados{
  margin-left: 20px;
}

.fml-escrito{
  margin-left: 20px;
}

.btn-hg{
  font-size: 5px;
  margin-left: 20px;
}

.txt-hg{
  font-size: 20px;
}

.txt-desc{
  margin-left: 10px;
  font-size: 15px;
  font-style: italic;
}

.titulo{
  margin-left: 20px;
}

.btn-post{
  margin-left: 20px;
  margin-top: 20px;
  }

  .mweb{
    margin-bottom: 20px;
  }

  .Handlu{
    margin-bottom: 20px;
  }