@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
  font-family: 'Open Sans', sans-serif;
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

main{
  height: auto;
}

#tableRun{
  padding: 10px 100px 10px 100px;
}

.Icone{
  margin-top: 10px;
}

.botao{
  padding-bottom: 10px;
  position: relative;
  float: right;
}


.nomeInicio{
  text-align: center;
  color:black;
}



.iconesInicial{
  padding: 10px;
}

.iconesInicial:hover{
  cursor: pointer;
}